*.it
*.dat

resources/stageapi/luarooms/*.stb

basementrenovator/roomTest.xml

basementrenovator/Executables
basementrenovator/*.bat
!basementrenovator/setup.bat
basementrenovator/*.py
.vscode/settings.json
